/* --------------------- variables --------------------- */
:root {
	--popupWidth: 400px;
	--popupHeight: 600px;

	--subElHeight: calc(var(--popupHeight) / 15);

	--mainFont: 300 normal calc(var(--subElHeight) / 2)/var(--subElHeight) Arial Narrow;
	--mainBg: #3f51b5;
	--mainBgHover: #2326a1;
	--mainColor: #fff;
	--mainPadding: .8rem;
	--mainBR: 2px;
	--mainBC: var(--mainBgHover);
	--mainShadowY: 2px;
	--mainShadowBlur: 4px;
	--mainShadowColor1: rgba(0, 0, 0, .12);
	--mainShadowColor2: rgba(0, 0, 0, .24);
	--mainAnimDuration: .3s;
	--mainAnimType: ease-out;
	--mainInlineSpace: .3rem;

	--contentHeadFont: 300 normal calc(var(--subElHeight) / 2.2)/var(--subElHeight) Arial Narrow;
	--contentFont: 300 normal calc(var(--subElHeight) / 2.5)/calc(var(--subElHeight) / 1.7) Arial Narrow;
	--contentBg: #e2e1e0;
	--contentColor: #444;
	--contentBC: var(--contentBg);

	--itemBg: #fafbfc;
	--itemCompletedBg: var(--mainBg);
	--itemUncompletedBg: #d00;
	--itemStateAnimDuration: var(--mainAnimDuration);
	--itemStateAnimType: var(--mainAnimType);
	--itemStateShadowHover: 0 0 6px 2px var(--mainShadowColor1), 0 0 3px 1px var(--mainShadowColor2);
	--itemShadow: 0 1px 2px var(--mainShadowColor1), 0 1px 2px var(--mainShadowColor2);
	--itemShadowHover: 0 3px 4px var(--mainShadowColor1), 0 3px 4px var(--mainShadowColor2);
	--itemSubContentColor: #757575;

	--arrowShadow: 0 0 1px 1px var(--mainShadowColor1), 0 0 1px 1px var(--mainShadowColor2);

	--settingsWidth: calc(var(--popupWidth) - var(--subElHeight));
	--settingsBg: #e2e1e0;
	--settingsUnsaveBg: #d00;
	--settingsUnsaveBgHover: #f00;
	--settingsBgHover: #999;
	--settingsFont: 300 normal calc(var(--subElHeight) / 2.2)/calc(var(--subElHeight) / 1.3) Arial Narrow;
	--settingsColor: var(--contentColor);
	--settingsOverlayBg: rgba(0, 0, 0, 0);
	--settingsOverlayBgActive: rgba(0, 0, 0, .7);

	--checkboxHeight: calc(var(--subElHeight) * .6);
	--checkboxBg: #ccc;
	--checkboxBtnBg: #fafbfc;
	--checkboxPadding: 2px;
	--checkboxBR: 4px;
	--checkboxFont: 700 normal calc(var(--subElHeight) / 2.5)/var(--checkboxHeight) Arial Narrow;
	--checkboxColor: var(--contentColor);
	--checkboxShadow: 0 0 8px 1px var(--mainShadowColor2);
	--checkboxTextShadow: 0 1px 0 rgba(255, 255, 255, .5);

	--selectArrowSize: 5px;
	--selectArrowColor: var(--contentColor);
	--selectBC: #aaa;
	--selectBg: #ccc;
	--selectShadow: 0 0 8px 1px var(--mainShadowColor2);

	--tooltipBR: 4px;
	--tooltipBC: #aaa;
	--tooltipPadding: .45rem;
	--tooltipFont: 100 normal calc(var(--subElHeight) / 2.6)/calc(var(--subElHeight) / 2.3) Arial Narrow;
	--tooltipColor: #eee;
	--tooltipBg: #666;
	--tooltipShadow: 0 0 2px 1px var(--mainShadowColor2);
	--tooltipArrowSize: 5px;
	--tooltipArrowColor: var(--tooltipBg);

	--scrollWidth: calc(var(--mainPadding) / 2);
	--scrollBg: rgba(200, 200, 200, .25);
	--scrollShadowColor: rgba(0, 0, 0, .15);

	--placeholderColor: rgba(255, 255, 255, .6);
}
/* ===================================================== */


/* ----------------------- mixins ---------------------- */
@define-mixin inlineSpace {
	margin-left: -var(--mainInlineSpace);
	margin-right: -var(--mainInlineSpace);
}
@define-mixin textElipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
@define-mixin iconStyles {
	display: inline-block;

	width: 100%;
	height: 100%;

	cursor: pointer;
}
@define-mixin btnStyles {
	display: inline-block;
	overflow: hidden;

	width: var(--subElHeight);
	height: var(--subElHeight);

	vertical-align: top;
	transition: background var(--mainAnimDuration) var(--mainAnimType);
}
@define-mixin btnStylesHover {
	background: var(--mainBgHover);
}
@define-mixin settingsBtnStylesHover {
	background: var(--settingsBgHover);
}
@define-mixin settingsInputParent {
	position: relative;

	height: var(--checkboxHeight);
	line-height: var(--checkboxHeight);

	margin-bottom: calc(var(--subElHeight) * .2);

	border-radius: var(--checkboxBR);
	cursor: pointer;

	color: var(--checkboxColor);
}
@define-mixin settingsCheckbox {
	@mixin settingsInputParent;

	padding: var(--checkboxPadding);

	background: var(--checkboxBg);
	box-shadow: var(--checkboxShadow) inset;
	transition: transform var(--mainAnimDuration) var(--mainAnimType);
}
@define-mixin settingsSelect {
	@mixin settingsInputParent;
	@mixin textElipsis;

	padding: 0 var(--checkboxPadding);

	border: 1px solid var(--selectBC);

	background: var(--checkboxBg);
}
@define-mixin headFootPadding {
	padding-left: calc(var(--mainPadding) / 2);
	padding-right: calc(var(--mainPadding) / 2);
}
@define-mixin headFootStyles {
	position: absolute;
	z-index: 5;

	width: 100%;
	height: var(--subElHeight);

	left: 0;
	right: 0;

	text-align: center;
}
@define-mixin mainHeadFootStyles {
	@mixin headFootStyles;

	background: var(--mainBg);
}
@define-mixin settingsHeadFootStyles {
	@mixin headFootStyles;

	background: var(--settingsBg);
}
@define-mixin headers {
	top: 0;

	box-shadow: 0 var(--mainShadowY) var(--mainShadowBlur) var(--mainShadowColor1),
				0 var(--mainShadowY) var(--mainShadowBlur) var(--mainShadowColor2);
}
@define-mixin footers {
	bottom: 0;

	box-shadow: 0 -var(--mainShadowY) var(--mainShadowBlur) var(--mainShadowColor1),
				0 -var(--mainShadowY) var(--mainShadowBlur) var(--mainShadowColor2);
}
@define-mixin infoText {
	@mixin textElipsis;
	@mixin inlineSpace;
	@mixin headFootPadding;

	display: inline-block;
	overflow: hidden;

	width: calc(100% - (var(--subElHeight) * 2));
	height: var(--subElHeight);

	vertical-align: top;
}
@define-mixin parentList {
	z-index: 3;
	overflow-x: hidden;
	overflow-y: auto;

	width: 100%;
	height: calc(var(--popupHeight) - (var(--subElHeight) * 2));

	margin: var(--subElHeight) 0;
	padding: var(--mainPadding) var(--mainPadding) 0;

	color: var(--contentColor);
}
@define-mixin item {
	position: relative;
	display: block;
	overflow: hidden;

	width: 100%;

	margin: 0 0 var(--mainPadding) 0;
	padding: 0;

	background: var(--itemBg);
	list-style: none;

	box-shadow: var(--itemShadow);

	transition: box-shadow .1s linear;
}
@define-mixin itemKeyValue {
	@mixin textElipsis;

	position: relative;

	display: inline-block;

	height: var(--subElHeight);
	line-height: var(--subElHeight);

	cursor: pointer;
}
@define-mixin arrows {
	position: absolute;
	display: block;

	width: 0;
	height: 0;

	content: " ";
}
/* ===================================================== */


/* -------------------- basic style -------------------- */
::-webkit-scrollbar {
	width: var(--scrollWidth);
}
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 calc(var(--scrollWidth) / 2) var(--scrollShadowColor);
}
::-webkit-scrollbar-thumb {
	background: var(--scrollBg);
	box-shadow: inset 0 0 calc(var(--scrollWidth) / 2) var(--scrollShadowColor);
}

::-webkit-input-placeholder {
	color: var(--placeholderColor);
}

html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
html, body {
	padding: 0;
	margin: 0;
}

.app {
	position: relative;
	overflow: hidden;

	width: var(--popupWidth);
	height: var(--popupHeight);

	font: var(--mainFont);
	background: var(--contentBg);
	color: var(--mainColor);
}

.will-transform {
	will-change: transform !important;
}
.slade-out {
	transform: translateY(100%) !important;
}
.ovya {
	overflow-y: auto !important;
}
.scroll-block {
	padding-right: calc(var(--mainPadding) - var(--scrollWidth)) !important;
}
/* ===================================================== */


/* -------------------- header block ------------------- */
.header {
	@mixin headers;
	@mixin mainHeadFootStyles top;

	& .brand {
		@mixin btnStyles;

		&:hover {
			@mixin btnStylesHover
		}

		&__icon {
			@mixin iconStyles;
		}
	}

	& .curtask {
		@mixin infoText;
	}

	& .search {
		@mixin btnStyles;

		&:hover {
			@mixin btnStylesHover
		}

		&__icon {
			@mixin iconStyles;
		}
		&__text {
			position: absolute;

			width: calc(var(--popupWidth) - (var(--subElHeight) * 2) - (var(--mainPadding) * 2));
			height: calc(var(--subElHeight) * .66);
			line-height: calc(var(--subElHeight) * .66);

			left: calc(var(--subElHeight) + var(--mainPadding));
			top: -var(--subElHeight);

			padding: calc(var(--mainPadding) * .5);

			font-size: calc(var(--subElHeight) * .4);
			background: var(--mainBg);
			color: var(--mainColor);
			border-width: 0px 0px 1px 0px;
			border-color: var(--mainBC);
			text-align: left;

			outline: none;

			transition: transform var(--mainAnimDuration) var(--mainAnimType);

			&-active {
				transform: translateY(calc(var(--subElHeight) * 1.2));
			}
		}
	}
}
/* ===================================================== */


/* --------------------- main block -------------------- */
.main {
	@mixin parentList;

	font: var(--contentFont);
}
.list {
	width: calc(var(--popupWidth) - var(--mainPadding) * 2);

	margin: 0;
	padding: 0;

	& .item {
		@mixin item;

		height: calc(var(--subElHeight) * 2.4);

		&:hover {
			box-shadow: var(--itemShadowHover);

			& .arrow {
				transform: translateY(0);
			}
		}

		&__state {
			@mixin btnStyles;

			cursor: pointer;

			transition: box-shadow var(--mainAnimDuration) var(--mainAnimType),
						border-radius var(--itemStateAnimDuration) var(--itemStateAnimType),
						transform var(--itemStateAnimDuration) var(--itemStateAnimType),
						background calc(var(--itemStateAnimDuration) * 2.85) var(--itemStateAnimType);

			&:hover {
				box-shadow: var(--itemStateShadowHover);
			}

			&-completed {
				background: var(--itemCompletedBg);
			}
			&-uncompleted {
				background: var(--itemUncompletedBg);
			}
			&-click {
				border-radius: 50%;
				transform: rotate(-1440deg);
			}
		}
		&__head {
			@mixin textElipsis;

			position: relative;
			display: inline-block;

			width: calc(100% - var(--subElHeight));
			height: var(--subElHeight);

			padding-left: var(--mainPadding);
			padding-right: calc(var(--mainPadding) + var(--subElHeight) * 1.5);

			border-bottom: 1px solid var(--contentBC);

			font: var(--contentHeadFont);
		}
		&__content {
			position: relative;
			display: block;

			width: 100%;

			padding: 0 var(--mainPadding);
		}
	}
	& .arrow {
		position: absolute;
		display: block;

		width: 50%;
		height: calc(var(--subElHeight) * .5);
		line-height: calc(var(--subElHeight) * .5);

		bottom: 0;

		background: var(--itemBg);
		opacity: .6;

		text-align: center;
		cursor: pointer;

		transition: box-shadow var(--mainAnimDuration) var(--mainAnimType),
					opacity var(--mainAnimDuration) var(--mainAnimType),
					transform var(--mainAnimDuration) var(--mainAnimType);

		transform: translateY(100%);

		&:hover {
			z-index: 2;

			box-shadow: var(--arrowShadow);
			opacity: .95;
		}

		&__img {
			display: inline-block;

			width: calc(var(--subElHeight) * .4);
			line-height: calc(var(--subElHeight) * .5);

			margin-bottom: 2px;
		}

		&-up {
			left: 0;
		}
		&-down {
			right: 0;
		}
	}
}
/* ===================================================== */


/* -------------------- footer block ------------------- */
.footer {
	@mixin footers;
	@mixin mainHeadFootStyles bottom;

	& .sync {
		@mixin btnStyles;

		&:hover {
			@mixin btnStylesHover
		}

		&__icon {
			@mixin iconStyles;
		}
	}
	& .info {
		@mixin infoText;
	}
	& .showset {
		@mixin btnStyles;

		&:hover {
			@mixin btnStylesHover
		}

		&__icon {
			@mixin iconStyles;
		}
	}
}
/* ===================================================== */


/* ------------------- settings block ------------------ */
.settings {
	position: absolute;
	z-index: 9;

	width: var(--settingsWidth);
	height: var(--popupHeight);

	top: 0;
	left: var(--popupWidth);

	background: var(--settingsBg);
	color: var(--settingsColor);

	transition: transform var(--mainAnimDuration) var(--mainAnimType);

	&-active {
		transform: translateX(-var(--settingsWidth));
	}

	&__header {
		@mixin headers;
		@mixin settingsHeadFootStyles;
	}
	&__body {
		@mixin parentList;

		font: var(--settingsFont);
	}
	&__footer {
		@mixin footers;
		@mixin settingsHeadFootStyles;
	}
	&__item {
		@mixin item;

		height: var(--subElHeight);

		padding-right: var(--mainPadding);

		&:hover {
			box-shadow: var(--itemShadowHover);
		}

		&-check {
			& .settings__value {
				@mixin settingsCheckbox;

				&:before, &:after {
					position: absolute;
					display: block;

					width: 50%;
					height: 100%;

					top: 0;

					font: var(--checkboxFont);
					text-align: center;
					text-shadow: var(--checkboxTextShadow);
				}
				&:before {
					color: var(--mainBg);
					content: "ON";
				}
				&:after{
					content: "OFF";
					left: 50%;
				}
			}
			& .settings__input {
				position: relative;
				z-index: 2;

				width: 50%;
				height: 100%;

				margin: 0;
				padding: 0;

				border: 0;
				border-radius: calc(var(--checkboxBR) * .5);

				background: var(--checkboxBtnBg);
				box-shadow: var(--checkboxShadow);

				pointer-events: none;
				outline: none;

				transition: transform var(--mainAnimDuration) var(--mainAnimType);

				&:checked {
					transform: translateX(100%);
				}
			}
		}
		&-select {
			& .settings__value {
				@mixin settingsSelect;

				&:after {
					@mixin arrows;

					top: calc(var(--checkboxHeight) * .5 - var(--selectArrowSize) * .5);
					right: var(--mainPadding);

					border: var(--selectArrowSize) solid transparent;
					border-top-color: var(--selectArrowColor);
				}
			}
			& .settings__input {
				width: calc(100% + (var(--checkboxPadding) + 1px) * 2);
				line-height: calc(var(--checkboxHeight) - 1px);

				margin-left: calc(-var(--checkboxPadding) - 1px);
				padding: 0 var(--mainPadding);

				border: none;
				vertical-align: top;
				cursor: pointer;

				background: transparent;
				box-shadow: none;
			}
		}
	}
	&__input {
		outline: none;
		-webkit-appearance: none;
		appearance: none;
	}
	&__key {
		@mixin itemKeyValue;

		width: 65%;

		margin-right: -var(--mainInlineSpace);
		padding: 0 var(--mainPadding);
	}
	&__value {
		@mixin itemKeyValue;

		width: 35%;
	}

	& .save {
		@mixin btnStyles;

		overflow: visible;

		position: relative;

		&:hover {
			@mixin settingsBtnStylesHover
		}

		&-unsave {
			background: var(--settingsUnsaveBg);

			&:hover {
				background: var(--settingsUnsaveBgHover);
			}
		}

		&__icon {
			@mixin iconStyles;
		}
		&__tooltip {
			position: absolute;

			width: calc(var(--popupWidth) * .5);

			left: var(--tooltipPadding);
			top: var(--subElHeight);

			padding: var(--tooltipPadding);

			border-radius: var(--tooltipBR);
			text-align: justify;

			font: var(--tooltipFont);
			background: var(--tooltipBg);
			color: var(--tooltipColor);
			box-shadow: var(--tooltipShadow);

			opacity: 0;
			transition: all var(--mainAnimDuration) var(--mainAnimType);

			&:after {
				@mixin arrows;

				bottom: calc(-var(--tooltipArrowSize) * 2);
				left: calc(var(--subElHeight) * .5 - var(--tooltipArrowSize) - var(--tooltipPadding));

				border: var(--tooltipArrowSize) solid transparent;
				border-top-color: var(--tooltipArrowColor);
			}

			&-active {
				transform: translateY(calc(-100% - var(--subElHeight) - var(--tooltipArrowSize) * 2));
				opacity: 1;
			}
		}
	}
	& .info {
		@mixin infoText;
	}
	& .hideset {
		@mixin btnStyles;

		&:hover {
			@mixin settingsBtnStylesHover
		}

		&__icon {
			@mixin iconStyles;
		}
	}
}
.overlay {
	position: fixed;
	display: none;
	z-index: 7;

	width: 100%;
	height: 100%;

	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	background: var(--settingsOverlayBg);
	cursor: pointer;

	transition: background var(--mainAnimDuration) var(--mainAnimType);

	&-block {
		display: block;
	}
	&-active {
		background: var(--settingsOverlayBgActive);
	}
}
/* ===================================================== */