/* --------------------- variables --------------------- */
:root {
	--popupWidth: 400px;
	--popupHeight: 600px;

	--subElHeight: calc(var(--popupHeight) / 15);

	--mainFont: 300 normal calc(var(--subElHeight) / 2)/var(--subElHeight) Arial Narrow;
	--mainBg: #3f51b5;
	--mainColor: #fff;
	--mainPadding: .8rem;
	--mainBR: 2px;
	--mainBC: #303f9f;
	--mainShadowY: 2px;
	--mainShadowBlur: 4px;
	--mainShadowColor1: rgba(0, 0, 0, 0.12);
	--mainShadowColor2: rgba(0, 0, 0, 0.24);

	--headFont: 300 normal calc(var(--subElHeight) / 2.2)/var(--subElHeight) Arial Narrow;
	--contentFont: 300 normal calc(var(--subElHeight) / 2.5)/calc(var(--subElHeight) / 1.7) Arial Narrow;
	--contentBg: #e2e1e0;
	--contentColor: #444;
	--contentBC: #e2e1e0;

	--itemBg: #fafbfc;
	--itemShadow: 0 1px 2px var(--mainShadowColor1), 0 1px 2px var(--mainShadowColor2);
	--itemShadowHover: 0 3px 4px var(--mainShadowColor1), 0 3px 4px var(--mainShadowColor2);
	--subContentColor: #757575;

	--scrollWidth: calc(var(--mainPadding) / 2);
	--scrollBg: rgba(200, 200, 200, 0.25);
	--scrollShadowColor: rgba(0, 0, 0, 0.15);
}
/* ===================================================== */


/* ----------------------- mixins ---------------------- */
@define-mixin inlineSpace {
	margin-left: -.3rem;
	margin-right: -.3rem;
}
@define-mixin textElipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
@define-mixin iconStyles {
	display: inline-block;

	width: 100%;
	height: 100%;

	cursor: pointer;
}
@define-mixin btnStyles {
	display: inline-block;
	overflow: hidden;

	width: var(--subElHeight);
	height: var(--subElHeight);

	vertical-align: top;
}
@define-mixin headFootPadding {
	padding-left: calc(var(--mainPadding) / 2);
	padding-right: calc(var(--mainPadding) / 2);
}
@define-mixin headFootStyles {
	position: absolute;
	z-index: 5;

	width: 100%;
	height: var(--subElHeight);

	left: 0;
	right: 0;

	background: var(--mainBg);

	text-align: center;
}
/* ===================================================== */


/* -------------------- basic style -------------------- */
::-webkit-scrollbar {
	width: var(--scrollWidth);
}
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 calc(var(--scrollWidth) / 2) var(--scrollShadowColor);
}
::-webkit-scrollbar-thumb {
	background: var(--scrollBg);
	box-shadow: inset 0 0 calc(var(--scrollWidth) / 2) var(--scrollShadowColor);
}

html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
html, body {
	padding: 0;
	margin: 0;
}

.app {
	position: relative;
	overflow: hidden;

	width: var(--popupWidth);
	height: var(--popupHeight);

	font: var(--mainFont);
	background: var(--contentBg);
	color: var(--mainColor);
}
/* ===================================================== */


/* -------------------- header block ------------------- */
.header {
	top: 0;

	box-shadow: 0 var(--mainShadowY) var(--mainShadowBlur) var(--mainShadowColor1),
				0 var(--mainShadowY) var(--mainShadowBlur) var(--mainShadowColor2);

	@mixin headFootStyles top;

	& .brand {
		@mixin btnStyles;

		&__icon {
			@mixin iconStyles;
		}
	}

	& .curtask {
		display: inline-block;

		width: calc(var(--popupWidth) - (var(--subElHeight) * 2));
		height: var(--subElHeight);

		vertical-align: top;

		@mixin textElipsis;
		@mixin inlineSpace;
		@mixin headFootPadding;
	}

	& .search {
		@mixin btnStyles;

		&__text {
			position: absolute;
			display: none;

			width: calc(var(--popupWidth) - (var(--subElHeight) * 2) - 2rem);
			height: calc(var(--subElHeight) * 0.8);
			line-height: calc(var(--subElHeight) * 0.8);

			left: calc(-var(--popupWidth) + (var(--subElHeight) * 2) + 1rem);
			top: calc(var(--subElHeight) * 0.1);

			padding: calc(var(--subElHeight) * 0.1) calc(var(--subElHeight) * 0.3);

			background: var(--mainBg);
			color: var(--mainColor);
			border-width: 0px 0px 1px 0px;
			border-color: var(--mainBC);
			text-align: left;

			outline: none;
		}
		&__icon {
			@mixin iconStyles;
		}
	}
}
/* ===================================================== */


/* --------------------- main block -------------------- */
.main {
	z-index: 3;
	overflow-x: hidden;
	overflow-y: auto;

	width: 100%;
	height: calc(var(--popupHeight) - (var(--subElHeight) * 2));

	margin: var(--subElHeight) 0;
	padding: var(--mainPadding) var(--mainPadding) 0;

	font: var(--contentFont);
	color: var(--contentColor);

	&__scroll {
		padding-right: calc(var(--mainPadding) - var(--scrollWidth));
	}
}
.list {
	width: 100%;

	margin: 0;
	padding: 0;

	& .item {
		position: relative;
		display: block;
		overflow: hidden;

		width: 100%;
		height: calc(var(--subElHeight) * 3);

		margin: 0 0 var(--mainPadding) 0;
		padding: 0;

		background: var(--itemBg);
		list-style: none;

		box-shadow: var(--itemShadow);

		transition: box-shadow .1s linear;

		&:hover {
			box-shadow: var(--itemShadowHover);
		}
		&__completed {
			@mixin btnStyles;
		}
		&__head {
			display: inline-block;

			width: calc(100% - var(--subElHeight));
			height: var(--subElHeight);

			padding-left: var(--mainPadding);
			padding-right: var(--mainPadding);

			border-bottom: 1px solid var(--contentBC);

			font: var(--headFont);

			@mixin textElipsis;
		}
		/* &__id {
			position: absolute;
			display: inline-block;

			top: calc(var(--subElHeight) + (var(--mainPadding) / 4));
			right: var(--mainPadding);

			color: var(--subContentColor);

			font: var(--contentFont);
		} */
		&__content {
			display: block;

			width: 100%;

			padding: 0 var(--mainPadding);
		}
	}
}
/* ===================================================== */


/* -------------------- footer block ------------------- */
.footer {
	bottom: 0;

	box-shadow: 0 calc(0 - var(--mainShadowY)) var(--mainShadowBlur) var(--mainShadowColor1),
				0 calc(0 - var(--mainShadowY)) var(--mainShadowBlur) var(--mainShadowColor2);

	@mixin headFootStyles bottom;

	& .sync {
		@mixin btnStyles;

		&__icon {
			@mixin iconStyles;
		}
	}
	& .info {
		display: inline-block;
		overflow: hidden;

		width: calc(var(--popupWidth) - (var(--subElHeight) * 2));
		height: var(--subElHeight);

		@mixin textElipsis;
		@mixin inlineSpace;
		@mixin headFootPadding;
	}
	& .showset {
		@mixin btnStyles;

		&__icon {
			@mixin iconStyles;
		}
	}
}
/* ===================================================== */


/* ------------------- settings block ------------------ */
.settings {
	position: absolute;
	display: none;

	width: calc(var(--popupWidth) - var(--subElHeight));
	height: var(--popupHeight);

	left: var(--popupWidth);

	& .hideset {
		&__icon {
			@mixin iconStyles;
		}
	}
}
/* ===================================================== */